html, body {
    font-family: Roboto, 'sans-serif';
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

main {
    overflow: hidden;
}
